@page "/machineoverview"
@page "/machineoverview/{MachineId}"
@inject NavigationManager NavigationManager


<h1 class="page-title">All machines</h1>

@if (Machines == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Machine Name</th>
                <th>Status</th>
                <th>Status change date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var machine in Machines)
            {
                <tr>
                    <td>@machine.Name</td>
                    <td>@machine.MachineStatus</td>
                    <td>@machine.SentDataDateTime</td>
                    <td>
                        <a href="@($"machineoverview/{machine.MachineId}")" class="btn btn-primary table-btn">
                            <i class="fas fa-info-circle"></i>
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}

