.buttons {
    margin: 15px auto;
    width: 700px;
    text-align: center;
}

.form-control:focus {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #ced4da !important;
}

.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.btn-primary:not([disabled]):not(.disabled).hover,
.btn-primary:not([disabled]):not(.disabled):hover {
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.btn-secondary:not([disabled]):not(.disabled).active,
.btn-secondary:not([disabled]):not(.disabled):active,
.btn-secondary:not([disabled]):not(.disabled).hover,
.btn-secondary:not([disabled]):not(.disabled):hover {
    color: #fff !important;
    background-color: #868e96 !important;
    border-color: #868e96 !important;
}

.btn-success:not([disabled]):not(.disabled).active,
.btn-success:not([disabled]):not(.disabled):active,
.btn-success:not([disabled]):not(.disabled).hover,
.btn-success:not([disabled]):not(.disabled):hover {
    color: #fff !important;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.btn-danger:not([disabled]):not(.disabled).active,
.btn-danger:not([disabled]):not(.disabled):active,
.btn-danger:not([disabled]):not(.disabled).hover,
.btn-danger:not([disabled]):not(.disabled):hover {
    color: #fff !important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.btn-warning:not([disabled]):not(.disabled).active,
.btn-warning:not([disabled]):not(.disabled):active,
.btn-warning:not([disabled]):not(.disabled).hover,
.btn-warning:not([disabled]):not(.disabled):hover {
    color: #111 !important;
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}

.btn-info:not([disabled]):not(.disabled).active,
.btn-info:not([disabled]):not(.disabled):active,
.btn-info:not([disabled]):not(.disabled).hover,
.btn-info:not([disabled]):not(.disabled):hover {
    color: #fff !important;
    background-color: #17a2b8 !important;
    border-color: #17a2b8 !important;
}

.btn-light:not([disabled]):not(.disabled).active,
.btn-light:not([disabled]):not(.disabled):active,
.btn-light:not([disabled]):not(.disabled).hover,
.btn-light:not([disabled]):not(.disabled):hover {
    color: #111 !important;
    background-color: #f8f9fa !important;
    border-color: #f8f9fa !important;
}

.btn-dark:not([disabled]):not(.disabled).active,
.btn-dark:not([disabled]):not(.disabled):active,
.btn-dark:not([disabled]):not(.disabled).hover,
.btn-dark:not([disabled]):not(.disabled):hover {
    color: #fff !important;
    background-color: #343a40 !important;
    border-color: #343a40 !important;
}

.btn-link:not([disabled]):not(.disabled).active,
.btn-link:not([disabled]):not(.disabled):active,
.btn-link:not([disabled]):not(.disabled).hover,
.btn-link:not([disabled]):not(.disabled):hover {
    color: #007bff !important;
}

a:focus,
a:hover,
.btn:focus,
.btn:hover {
    text-decoration: none !important;
}

input:active,
input:focus,
input:hover,
input:visited,
input.active,
input.focus,
input.hover,
input.visited,
button:active,
button:focus,
button:hover,
button:visited,
button.active,
button.focus,
button.hover,
button.visited {
    box-shadow: unset !important;
    outline: 0 !important;
}

/* This CSS is specific to the current HTML. 
            Note that this snippet only contains the necessary changes and not the full Blazor app template */
.loading-section {
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

    .loading-section h2 {
        color: #00b5dc;
    }

.loader-dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #00b5dc;
    display: inline-block;
    -webkit-animation: grow 2.1s infinite ease-in-out both;
    animation: grow 2.1s infinite ease-in-out both;
}

    .loader-dot.dot1 {
        -webkit-animation-delay: -0.96s;
        animation-delay: -0.96s;
    }

    .loader-dot.dot2 {
        -webkit-animation-delay: -0.48s;
        animation-delay: -0.48s;
    }

@-webkit-keyframes grow {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}
